* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: rgb(84, 83, 83);
    font-size: 40px;
}

.ingredient-list li {
    font-family: 'Courier New', Courier, monospace;
}